body { background:#F3F6F9 }
.main .container-fluid,.main .container { margin-top:16px }

#loading {
  position: fixed;
  top: 10px;
  left: calc(50% - 40px);
  padding: 2px 10px;
  font-weight: bold;
  font-size:12px;
  color: #23282c;
  background: #ffc107;
  z-index: 9999;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  border-radius: 2px;
}

/* OVERRIDE */
.breadcrumb { margin-bottom: 15px }
.main .container-fluid { padding:0 15px }

/* BUTTONS */
.table .btn { margin-left:0; margin-right:5px }

/* nestable */
.nestable-item .nestable-list, .nestable-item-copy .nestable-list,.nestable-item, .nestable-item-copy { margin-top:2px!important; }
.nestable .nestable-list .nestable-item-name { padding:5px 10px 5px 30px; background:#f9f9f9; border-radius:3px; cursor:move;
box-shadow:1px 1px 0 rgba(0,0,0,.1)}
.nestable .nestable-list .nestable-item-name:before {
  content: "\F0C9";
  font-family: FontAwesome, serif;
  font-size:12px;
  top:8px;
  left:10px;
  position:absolute;
  color: #DDD;
}
.nestable .nestable-list:not(:first-child){ padding-left:25px!important; }

.nestable .edit{ position:absolute; top:2px; right:2px }

/* UTILITIES */
.noscroll { overflow:hidden!important; }
.noselect { -webkit-touch-callout:none; -webkit-user-select:none; --moz-user-select:none;
  -ms-user-select:none; user-select:none; }

.block{ display:block!important; }
.pointer{ cursor:pointer }
.bold{ font-weight:bold!important; }
.none{ display:none }

.ctr,.ctr-td td{ text-align:center }
.mdl,.mdl-td td{ vertical-align:middle!important; }
.upc,.upc-td td{ text-transform: uppercase }
.nowrap,.nowrap-td td,.nowrap-th th{ white-space:nowrap!important; }

.mrg-0{ margin:0!important; }
.mrg-5{ margin:5px!important; }
.mrg-10{ margin:10px!important; }
.mrg-15{ margin:15px!important; }
.mrg-r-0{ margin-right:0!important; }
.mrg-t-5{ margin-top:5px!important; }
.mrg-r-5{ margin-right:5px!important; }
.mrg-r-0{ margin-right:0!important; }
.mrg-b-5{ margin-bottom:5px!important; }
.mrg-b-0{ margin-bottom:0!important; }
.mrg-l-5{ margin-left:5px!important; }
.mrg-t-10{ margin-top:10px!important; }
.mrg-r-10{ margin-right:10px!important; }
.mrg-b-10{ margin-bottom:10px!important; }
.mrg-l-10{ margin-left:10px!important; }
.mrg-t-15{ margin-top:15px!important; }
.mrg-r-15{ margin-right:15px!important; }
.mrg-b-15{ margin-bottom:15px!important; }
.mrg-l-15{ margin-left:15px!important; }

.pdg-0{ padding:0!important; }
.pdg-t-0{ padding-top:0!important; }
.pdg-b-0{ padding-bottom:0!important; }
.pdg-l-0{ padding-left:0!important; }
.pdg-r-0{ padding-right:0!important; }
.pdg-5{ padding:5px!important; }
.pdg-10{ padding:10px!important; }
.pdg-15{ padding:15px!important; }
.pdg-t-5{ padding-top:5px!important; }
.pdg-r-5{ padding-right:5px!important; }
.pdg-b-5{ padding-bottom:5px!important; }
.pdg-l-5{ padding-left:5px!important; }
.pdg-t-10{ padding-top:10px!important; }
.pdg-r-10{ padding-right:10px!important; }
.pdg-b-10{ padding-bottom:10px!important; }
.pdg-l-10{ padding-left:10px!important; }

/* utils */
._frm { }
._frm .form-group { margin-bottom:10px }
._frm .form-group label{ margin-bottom:2px }

._tbl {}
._tbl tbody td, ._tbl thead th{ padding:5px 8px }
._tbl tbody td .btn:last-child{ margin:0 }

._tbl_croll_v { max-height: 130px; overflow-y: auto; overflow-x: hidden }
._tbl_croll_v table { margin-bottom:0 }

._dropzone { position: relative; border: 2px dashed rgb(102, 102, 102); border-radius: 5px;
  padding:15px; text-align:center; cursor:pointer }
._dropzone:active,._dropzone:hover { border:2px dashed black; background:rgba(0,0,0,.05) }
._dropzone.active { border:2px dashed green; background:rgba(0,255,0,.05) }

/* lg */
@media (min-width: 992px){
  .card.mini{ max-width:550px }
  .card.medi{ max-width:750px }
  .card.maxi{ max-width:900px }
}

.messages-box {
  max-height: 180px;
  overflow-y: scroll;
  border: 1px solid lightgray;
  border-radius: 5px
}

p {
  &.list {
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid darkgrey;
    cursor: pointer;
    &:hover {
      background-color: #ebf7f9;
    }
  }
  &.active {
    cursor: default;
    background-color: #b1e1e7;
    &:hover {
      background-color: #b1e1e7;
    }
  }
}

button {
  &.btn-select {
    min-width: 125px;
    margin: 5px;
    height: 40px;
    &:hover {
      background-color: #ebf7f9;
    }
  }

  &.active {
    cursor: default;
    background-color: #b1e1e7;
    &:hover {
      background-color: #b1e1e7;
    }
  }
}


.preview {
  p {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: whitesmoke;
    span {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
/* OVERRIDE */
.app-header .navbar-brand { align-items:left!important; justify-content:left!important; width:auto }







































// Para el contenido
.pg-title {}
.pg-title h1{ color:#404041; float:left; font-size: 28px }
.pg-title-tools{ float:right}

.ots-items { margin-top:16px }
.ots-items .ots-item { float:left; background:white; width:260px; border-radius:4px; overflow:hidden; margin:0 8px 0 8px }
.ots-items .ots-item-title { background:#3E7BFF; padding:5px 20px; color:white }
.ots-items .ots-item-container { padding:20px }
.ots-items .ots-item-p { padding:0; margin:0 0 5px 0 }
.ots-items .ots-item-p.odd { color:#999 }

.ots-items .ots-item.add { border:1px dashed #3E7BFF; min-height:358px; text-align:center }
.ots-items .ots-item.add .btn { margin-top:160px }



.ots-from {  }
























